header {
    background-color: rgba(161, 81, 81, 0.28); /* 页眉的背景颜色 */
    color: white; /* 文字颜色 */
    padding: 10px 0; /* 上下内边距 */

}

header nav ul {
    list-style: none; /* 去除列表的默认样式 */
    padding: 0;
}

header nav ul li {
    display: inline; /* 使列表项水平排列 */
    margin-right: 10px; /* 列表项之间的间距 */
}

header nav ul li a {
    color: white; /* 链接文字颜色 */
    text-decoration: none; /* 去除下划线 */
    padding: 5px 10px; /* 链接周围的内边距 */
}

header nav ul li a:hover {
    background-color: #555; /* 鼠标悬停时的背景颜色 */
}
#zi{
    text-align: center;
    font-size: 60px;
    color: rgba(5, 5, 5, 0.72);
}
html {
    background-image: url(微信图片_20241107204427.jpg);
    background-size: cover; /* 覆盖整个区域 */
    background-position: center; /* 图片居中显示 */
    background-repeat: no-repeat; /* 不重复 */
}